[Unit]
Description=Startup script

[Service]
Type=oneshot
ExecStart=/usr/local/bin/startup.sh start
ExecStop=/usr/local/bin/startup.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
